<div data-backdrop="false" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="dnd-copy-link-move-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&#215;<!--times--></button>
    <h3 id="dnd-copy-link-move-label">Use same, make a copy, or move it?</h3>
  </div>
  <div class="modal-body">


    <label class="radio">
      <input type="radio" name="operation" value="link" checked="checked"/>
      Use this same content in both places. Changes will appear in both places.
    </label>
    <label class="radio">
      <input type="radio" name="operation" value="copy"/>
      Make a copy
    </label>
<!--
    <label class="radio">
      <input type="radio" name="operation" value="move"/>
      Move module
    </label>
-->

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary ok">Ok</button>
    <button class="btn cancel" data-dismiss="modal">Cancel</button>
  </div>
</div>
